:root {
    --color-text: #ffffff;
    --color-hovertext: #000000;
    --color-fadedtext: #585858;
    --color-back: transparent;
	--color-front: transparent;
    --color-dark: #212121;
    --color-error: #CF6679;
    --color-primary: #478778;
}

html, body, body > div {
    height: 100%;
    margin: 0px;
	background-color: var(--color-front);
    color: var(--color-fadedtext);
    display: flex;
    flex-direction: column;
}

.mainContainer {
    padding: 24px !important;
    display: flex !important;
    flex-direction: column !important;
    flex-grow: 1 !important;
    justify-content: space-between !important;
}

.flex-center {
    display: flex !important;
    flex: 2 !important;
    flex-direction: column !important;
    align-items: center !important;
    align-self: center !important;
    justify-content: center !important;
    justify-self: center !important;
}

.primary {
    color: var(--color-text) !important;
    background-color: var(--color-primary) !important;
}

.primaryColor {
    color: var(--color-primary) !important;
}

.textColor {
    color: var(--color-fadedtext) !important ;
}
.textColor:hover {
    color: var(--color-hovertext) !important;
}

.secondary {
    color: var(--color-primary) !important;
    border: 1px solid var(--color-primary) !important;
}
.secondary:hover {
    border: 2px solid var(--color-primary) !important;
}

.button {
    text-transform: none !important;
    font-weight: 600 !important;
    font-size: 12pt !important;
}

label.Mui-focused {
    color: var(--color-fadedtext) !important;
}
.MuiInput-underline:after {
    border-bottom-color: var(--color-fadedtext) !important;
}
.MuiOutlinedInput-root > fieldset {
    border-color: var(--color-fadedtext) !important;   
}
.MuiOutlinedInput-root > input {
    color: var(--color-fadedtext) !important;   
}
.MuiInputLabel-root {
    color: var(--color-fadedtext) !important;   
}
.MuiOutlinedInput-root > fieldset:hover {
    border-color: var(--color-fadedtext) !important;
}
.MuiOutlinedInput-root > .Mui-focused > fieldset {
    border-color: var(--color-fadedtext) !important;
}
.MuiButton-startIcon {
    margin-right: 8px !important;
    margin-left: 8px !important;
    left: 0px !important;
    position: absolute !important;
}
input:-webkit-autofill {
    -webkit-transition-delay: 9999999s;
}

form {
    display: flex;
}