.container {
	height: calc(100% - 64px);
	padding-left: 12px;
	padding-right: 12px;
}

.listContainer {
	height: 100%;
	position: relative;
}
.detailContainer {
	height: 100%;
}

.loaderContainer {
	position: absolute;
	height: 100%;
	width: calc(100% - 16px);
	top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: var(--color-fadedtext);
	opacity: 0.1;
}

.loader {
	margin: 0px auto;
	padding: 12px;
}