.paginate {
    position: absolute;
    bottom: 24px;
    right: 24px;
    left: 24px;
    display: flex;
    justify-content: center;
    padding: 4px;
}

.climbs {
    margin-bottom: 24px !important;
    display: flex !important;
    flex-grow: 1 !important;
    justify-content: flex-start;
    align-content: flex-start;
}