.paginate {
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    padding: 4px;
    position: sticky;
}

.climbs {
    margin-bottom: 24px !important;
    display: flex !important;
    flex-grow: 1 !important;
    justify-content: flex-start;
    align-content: flex-start;
}