.paginate {
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    padding: 4px;
    position: sticky;
}

.climbs {
    margin-bottom: 24px !important;
    display: flex !important;
    flex-grow: 1 !important;
	max-width: none !important;
    justify-content: flex-start;
    align-content: flex-start;
}

.filterbar {
	display: flex;
	justify-content: flex-start;
	background-color: var(--color-back) !important;
	border-radius: 4px;
	margin-bottom: 16px;
}

.filter-search {
	flex-grow: 0;
}

.filter-item {
	display: flex;
	margin: 8px 12px;
	flex-grow: 1;
	flex-basis: 0;
}

.MuiSlider-thumb::after {
	height: 20px !important;
	width: 20px !important;
}

.MuiSlider-valueLabel {
	    -webkit-transform: translateY(100%) scale(1) !important;
		-moz-transform: translateY(100%) scale(1) !important;
		-ms-transform: translateY(100%) scale(1) !important;
		transform: translateY(100%) scale(1) !important;
		background-color: transparent !important;
		padding: 0.25em !important;
		color: #1976d2 !important;
		font-size: 11pt !important;
		border-radius: 50% !important;
		width: 20px !important;
		height: 20px !important;
		z-index: 9999;
}

.MuiSlider-valueLabel::before {
	display: none;
}