.navbar {
	background-color: var(--color-fadedtext) !important;
}

.logo-div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

.profile {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    flex-basis: 0;
}

.link {
    display: flex;
    align-items: center;
    color: var(--color-text) !important;
    padding: 0px 24px;
}
.link:hover {
    color: var(--color-hovertext) !important;
}